{{!-- Adding navbar with routes back to playlist create and browse --}}
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand logo" href="/">
    <img src="images/playlistLogo.png" alt="logo" height="50px" loading="lazy">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/create">Create Playlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/browse">Browse Playlists</a>
      </li>
    </ul>
  </div>
</nav>
{{!-- Main container which will house all page content --}}
<div class="container">
  <div class="row">
    {{!-- Jumbotron to guide users to browse playlists --}}
    <div class="col">
      <div class="jumbotron jumboBrowse">
        <h1 class="jumboText display-4 jumboDisplay">Browse Our Playlists!</h1>
        <p class="jumboText lead jumboLead">Start with our top 5 trending or browse by mood.</p>
      </div>
    </div>
  </div>
  {{!-- Row giving user options to drill down search --}}
  <div class="row">
    <div class="col-3">
      <button type="button" class="btn btn-secondary bg-dark btn-lg btn-block" id="trendingBtn">Top 5 Trending</button>
      <button type="button" class="btn btn-secondary bg-dark btn-lg btn-block" id="allBtn">All Playlists</button>
      <button type="button" class="btn btn-secondary bg-dark btn-lg btn-block" id="moodBtn">Moods</button>
      <button type="button" class="btn btn-secondary bg-dark btn-lg btn-block" id="creatorBtn">Creators</button>
      <div class="adSpace">
        <img src="images/beatsAd.jpg" alt="" class="img-fluid">
        <img src="images/killersAd.jpg" alt="" class="img-fluid adMargins">

      </div>
    </div>
    <div class="col-9">
      <div class="browse-content">
        <div id="playlistParent">
          <div class=id="headers">
            <h3 class="hide browseHeader" id="allHeader">All Playlists</h3>
            <h3 class="top-five browseHeader" id="top-five">Top 5 Trending</h3>
          </div>
          {{!-- Div for searching by moods. Will be hidden on load, and will move to front dynamically via our borwse.js file --}}
          <div class="hide" id="moods">
            <h3 class="browseHeader">Search by Moods</h3>
            <div class="moodSelectors">
              <div class="moodRow1">
                <button type="button" class="btn btn-dark moodBtns" id="coffeeBtn" value="Coffee House">Coffee
                  House</button>
                <button type="button" class="btn btn-dark moodBtns" id="partyBtn" value="Party Time">Party Time</button>
                <button type="button" class="btn btn-dark moodBtns" id="chillBtn" value="Chill Mode">Chill Mode</button>
                <button type="button" class="btn btn-dark moodBtns" id="workoutBtn" value="Workout">Workout</button>
              </div>
              <div class="moodRow2">
                <button type="button" class="btn btn-dark moodBtns" id="dateBtn" value="Date Night">Date Night</button>
                <button type="button" class="btn btn-dark moodBtns" id="rockBtn" value="I Want to Rock">I Want to
                  Rock</button>
                <button type="button" class="btn btn-dark moodBtns" id="hipHopBtn" value="Hip Hop">Hip Hop</button>
                <button type="button" class="btn btn-dark moodBtns" id="countryBtn" value="Country Roads">Country
                  Roads</button>
              </div>
            </div>
            <div class="coffeeHouse hide" id="coffeeHouse">
            </div>
            <div class="partyTime hide" id="partyTime"></div>
            <div class="chillMode hide" id="chillMode"></div>
            <div class="workout hide" id="workout"></div>
            <div class="dateNight hide" id="dateNight"></div>
            <div class="rock hide" id="rock"></div>
            <div class="hipHop hide" id="hipHop"></div>
            <div class="countryRoad hide" id="countryRoad"></div>
          </div>

          {{!-- Search by creators section. Hidden on load, will be brought to front via browse.js file --}}

          <div class="hide" id="creators">
            <h3 class="browseHeader">Search by Creators</h3>
            <div class="input-group mb-3 creatorSearch">
              <input type="text" class="form-control" placeholder="Creator's Name" aria-label="Recipient's username"
                aria-describedby="button-addon2" id="search">
              <div class="input-group-append">
                <button class="btn btn-info" type="button" id="button-addon2">Search</button>
              </div>
            </div>

          </div>
          {{!-- All content below will be playlist and playlist track view --}}
          <div class="container" id="playlistContainer">
            <div class="row playListRow">
              <!-- ADD each playlist -->
              <div class=col-1></div>

              <div class=col-10>
                {{!-- Handlebars will loop through playlists array that is passed in and render view content for each playlist. --}}
                {{#each playlists}}
                <div class="card mb-3" style="max-width: 100%;">
                  <div class="row no-gutters">
                    <div class="col-1 iconSet">
                      <a class="btn" href="#"><i class="fa fa-arrow-circle-up fa-4x icon-stack-base rankIconsPlus"
                          id="playlistPlusBtn"></i></a>
                      <div class="counter" id="counter">
                        <!-- ADD playlist count -->
                      </div>
                      <a class="btn" href="#"><i class="fa fa-arrow-circle-down fa-4x icon-stack-base rankIconsMinus"
                          id="playlistMinusBtn"></i></a>
                    </div>
                    <div class="col-md-11">
                      <div class="card-body info">
                        <!-- ADD handlebars for playlist items -->
                        <h5 class="card-title">Playlist Name: {{this.name}} </h5>
                        <ul>
                          <li>
                            Created by: {{this.createdBy}}
                          </li>
                          <li>
                            Mood: {{this.moodName}}
                          </li>
                          <li>
                            Description: {{this.description}}
                          </li>
                        </ul>
                        <button class="btn btn-secondary showTracksBtn" value="{{this.id}}" id="showTracksBtn">See Track
                          List +</button>
                        <button class="btn btn-secondary hide hideTracksBtn" value="{{this.id}}" id="hideTracksBtn">Hide
                          Track List -</button>
                        <button class="btn btn-info addNewTrackBtn" value="{{this.id}}" id="addNewTrackBtn">Add New
                          Track to Playlist</button>
                      </div>
                    </div>
                  </div>
                </div>
                {{/each}}
              </div>

              {{!-- New track form to add to playlist. Hidden on load, will be brought to forefront via code in browse.js --}}
              <div class="row hide" id="newTrackForm">
                <div class=col-1></div>
                <div class=col-10>
                  <div id='TextBoxesGroup' class="form-group">
                    <div class="input_fields_wrap">
                      <div class="form-group">
                        <label for="exampleFormControlInput1" class="formInputs">Song Title and Artist Name:</label>
                        <input type="text" class="form-control" placeholder="Song Title" required>
                        <input type="text" class="form-control" placeholder="Artist Name" required>
                      </div>
                      <button class="add_field_button">Add Another Song</button>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-info">Add Songs to Playlist</button>
                  <button type="submit" class="btn btn-danger" id="returnPlaylistBtn">Don't Make Changes</button>
                </div>
                <div class=col-1></div>
              </div>
              <div class="row hide tracks" id="trackList">
               
                {{!-- end each playlist and playlist tracks --}}
              </div>
            </div>
            <div class="hide" id="creators">
              <h3 class="browseHeader">Search by Creators</h3>
              <div class="input-group mb-3 creatorSearch">
                <input type="text" class="form-control" placeholder="Creator's Name" aria-label="Recipient's username"
                  aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-info" type="button" id="button-addon2">Search</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>